<body>
  <div class="grid">

    <header>
      {% include logo.html %}
      <div class="headerCarousel" flickity-enabled data-flickity='{ "wrapAround": true, "autoPlay": true }'>
        <div class="carousel-cell">
          <h1></h1>
        </div>
        <div class="carousel-cell">
          <h1>events</h1>
        </div>
      </div>
    </header>

    <div class="mainCarousel" flickity-enabled data-flickity='{ "wrapAround": true, "autoPlay": true }'>
      <div class="carousel-cell">
        <main class="mainwrap">
          {% assign floorGroups = site.tenants | sort:"floor" | group_by:"floor" %}
          {% for floorGroup in floorGroups  %}
          {% if floorGroup.size > 1 %} {% assign hasMultipleTenants = true %}
          {% else %} {% assign hasMultipleTenants = false %}
          {% endif %}
            <div class="floorgroup floor-{{floorGroup.name}} has-multiple-tenants-{{hasMultipleTenants}}">
              {% for tenant in floorGroup.items %}
                <p class="company">{{tenant.title}}</p>
                <p class="suite">{{tenant.suite}}</p>
                <p class="floor">FL {{tenant.floor}}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </main>
      </div>
      <div class="carousel-cell">
        <main class="events">
        {% for post in site.posts %}
          <div class="eventcontent">
            <h1 class='post-title'>{{post.title}}</h1>
            <h1 class='post-content'>{{post.content}}</h1>
          </div>
        {% endfor %}
        </main>
      </div>
    </div>

  </div>
</body>
