/*	################################################################

	Author: Jaythan Elam
  Company: Jointley LLC
	URL: http://jaythanelam.com

	Project Name: Edney Directory
	Version: 1.0
	URL:

################################################################# */

@import url('{{ "/assets/css/flickity.css" | prepend: site.baseurl }}');

@font-face {
  font-family: 'Circular-Black';
  src: url('{{ "/assets/css/circular/Circular-Black.eot?#iefix" | prepend: site.baseurl }}') format('embedded-opentype'),
	     url('{{ "/assets/css/circular/Circular-Black.woff" | prepend: site.baseurl }}') format('woff'),
       url('{{ "/assets/css/circular/Circular-Black.ttf" | prepend: site.baseurl }}')  format('truetype'),
       url('{{ "/assets/css/circular/Circular-Black.svg#Circular-Black" | prepend: site.baseurl }}') format('svg');
  font-weight: normal;
  font-style: normal;
	font-family: 'Circular-Book';
	src: url('{{ "/assets/css/circular/Circular-Book.eot?#iefix" | prepend: site.baseurl }}') format('embedded-opentype'),
			 url('{{ "/assets/css/circular/Circular-Book.woff" | prepend: site.baseurl }}') format('woff'),
       url('{{ "/assets/css/circular/Circular-Book.ttf" | prepend: site.baseurl }}')  format('truetype'),
       url('{{ "/assets/css/circular/Circular-Book.svg#Circular-Book" | prepend: site.baseurl }}') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'TiemposTextWeb-Semibold';
  src: url('{{ "/assets/css/tiempos/TiemposTextWeb-Semibold.eot?#iefix" | prepend: site.baseurl }}') format('embedded-opentype'),
	     url('{{ "/assets/css/tiempos/TiemposTextWeb-Semibold.woff" | prepend: site.baseurl }}') format('woff'),
       url('{{ "/assets/css/tiempos/TiemposTextWeb-Semibold.ttf" | prepend: site.baseurl }}')  format('truetype'),
       url('{{ "/assets/css/tiempos/TiemposTextWeb-Semibold.svg#TiemposTextWeb-Semibold" | prepend: site.baseurl }}') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*################################################################# */

body{
  background-color: #2F2359;
  color: #fff;
  max-width: 1080px;
  margin: 0 auto;
  background-image: url('{{ "/assets/img/e-logo-header.png" | prepend: site.baseurl }}');
  background-position: top left;
  background-repeat: no-repeat;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-gap: 0em;
  grid-template-areas: "header"
                       "main";
}

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

.header {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 250px;
}


.carousel .carousel-cell .header h1 {
  font-family: 'Circular-Book', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 184px;
  color: #20BF55;
  margin-top: 5px;
  text-align: center;
  grid-column-start:2;
  grid-column-end: 4;
  width: 100%;
}

main {
  background-color: #2F2359;
  width: 1080px;
  line-height: 36px;
}

main.events .eventContent h1, main.events .eventContent div {
  font-family: 'Circular-Book', sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #B23D3D;
  font-size: 144px;
  line-height: 144px;
  margin-right: 130px;
}

.floorgroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
  grid-gap: 0;
  margin-right: 130px;
  margin-left: 130px;
}

main .floorgroup p {
  padding-top: 20px;
}

main .floorgroup p.company {
  font-family: 'Circular-Book', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #FF7171;
  grid-column-start: 1;
  padding-top: 20px;
  width: 400px;
  align-self: baseline;
}

main .floorgroup p.suite {
  font-family: 'TiemposTextWeb-Semibold', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #20BF55;
  grid-column-start: 2;
  align-self: baseline;
  padding-left: 190px;
}

main .floorgroup p:nth-child(2) {
  border-top: 1px solid rgba(228, 220, 203, 0.3);

}

main .floorgroup p.floor {
  grid-column-start: 4;
  font-family: 'Circular-Book', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #645A7B;
  border-top: 1px solid rgba(228, 220, 203, 0.3);
  padding-right: 20px;
}

main .floorgroup.floor-3 p.company,
main .floorgroup.floor-10 p.company  {
  color: #E4DCCB;
}

main .floorgroup.floor-3 p:nth-child(2),
main .floorgroup.floor-10 p:nth-child(2),
main .floorgroup.floor-11 p:nth-child(2) {
  color: #2F2359;
}

main .floorgroup.floor-4  p:nth-child(6),
main .floorgroup.floor-4  p:nth-child(9),
main .floorgroup.floor-8  p:nth-child(6),
main .floorgroup.floor-8  p:nth-child(9),
main .floorgroup.floor-9  p:nth-child(6),
main .floorgroup.floor-9  p:nth-child(9),
main .floorgroup.floor-9  p:nth-child(12),
main .floorgroup.floor-9  p:nth-child(15),
main .floorgroup.floor-9  p:nth-child(18) {
  display: none;
}

.flickity-prev-next-button {
  display: none;
}

.events {
  background-color: #FF7171;
  height: 1920px;
  padding-right: 130 px;
}

.HasPoster {
  display: grid;
  background-color: #FF7171;
  margin: 0;
  padding: 0;
}

img {
  grid-column-start: 0;
  height: auto;
  width: 100%;
  align-self: flex-start;
}
