/*	################################################################

	Author: Jaythan Elam
  Company: Jointley LLC
	URL: http://jaythanelam.com

	Project Name: Edney Directory
	Version: 1.0
	URL:

################################################################# */
@import url('https://www.dropbox.com/s/65hbg4ljk1itagd/Circular-Book.woff?dl=0');
@import url('https://www.dropbox.com/s/f3z0hi4mvd09wmz/Circular-Black.woff?dl=0');

/* @font-face {
  font-family: 'Circular';
  src: url('{{ "/assets/css/circular/" | prepend: site.baseurl }}') format('embedded-opentype');
}

@font-face {
  font-family: 'Tiempos';
  src: url('{{ "/assets/css/tiempos/" | prepend: site.baseurl }}') format('embedded-opentype');
}
*/

@import url('https://www.dropbox.com/s/992qupxz4uyroma/TiemposTextWeb-Regular.woff?dl=0');
@import url('https://www.dropbox.com/s/96sazkow01d3tp4/TiemposTextWeb-Semibold.woff?dl=0')


/*################################################################# */

body{
  background-color: #2F2359;
  color: #fff;
  max-width: 1080px;
  height: 1920px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;

  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

header {
  display: grid;
  height: 250px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.headerwrap {
  display: flex;
  align-items: flex-start;
}

.headerwrap h1 {
  font-family: 'Circular-Black', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #20BF55;
  font-size: 14rem;
  padding-top: 10px;
}

main {
  width: 822px;
  justify-content: space-around;
  margin-left: 130px;
  line-height: 40px;
  margin-top: -20px;
}

.floorgroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

main p {
  padding-top: 20px;
}

main p.company {
  font-family: 'Circular-Book', sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #FF7171;
  grid-column-start: 1;
  padding-top: 25px;
}

main p.suite {
  font-family: 'TiemposTextWeb-Semibold', serif;
  font-size: 40px;
  color: #20BF55;
  font-weight: 600;
  style: normal;
  padding-left: 200px;
  grid-column-start: 2;
}

main p:nth-child(2) {
  border-top: 1px solid rgba(228, 220, 203, 0.3);
}

/*
main p.suite:last-child  {
  border-bottom: 1px solid rgba(228, 220, 203, 0.3);
}

*/
