/*	################################################################

	Author: Jaythan Elam
  Company: Jointley LLC
	URL: http://jaythanelam.com

	Project Name: Edney Directory
	Version: 1.0
	URL:

################################################################# */













/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
